<!-- Este es el archivo ejs principal y contenedor de los formularios -->
<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head.ejs') %>
    <title>
        <%- title %>
    </title>

    <body>
        <%- include ('partials/header.ejs') %>
        <script> //Para que no haga submit con el enter
            document.addEventListener('DOMContentLoaded', () => {
              document.querySelectorAll('input[type=text]').forEach( node => node.addEventListener('keypress', e => {
                if(e.keyCode == 13) {
                  e.preventDefault();
                }
              }))
            });
        </script>

        <% var f = new Date() %>

        </br><h1 id="requisito" style="font-size: 50px;">BIENVENIDO</h1></br>
                <div class="subForm" id="texMaestria">
                    <p id="requisito"><b>SOLICITUD DE ADMISIÓN AL PROCESO DE INGRESO AL SEMESTRE A-2021 MAESTRIA</b></p>
                    <button class="btn" id="iniciar" href="#" onclick="renderFormularioIGMa()">INICIAR</button>
                </div>
                <div class="subForm" id="texDoctorado">
                    <p id="requisito"><b>SOLICITUD DE ADMISIÓN AL PROCESO DE INGRESO AL SEMESTRE A-2021 DOCTORADO</b>
                    </p>
                    <button class="btn" id="iniciar" href="#" onclick="renderFormularioIGDo()">INICIAR</button>
                </div>
                <div class="subForm" id="texConsulta">
                    <p id="requisito"><b>VER STATUS DE TU SOLICITUD</b>
                    </p>
                    <button class="btn" id="iniciar"><a class="sel" href="/Consulta">IR</a></button>
                </div>


                <div class="subForm" id="texEditar">
                    <p id="requisito"><b>EDITAR SOLICITUD</b>
                    </p>
                    <button class="btn" id="iniciar"><a class="sel" href="/editar">EDITAR</a></button>
                </div>



                <form class="content" id="formulario" method="post" enctype="multipart/form-data">
                    
                    <div class="center">
                        <div class="tabs" onclick="cambiarPestaña(1)">
                            <h3>Datos Generales</h3>
                            <div class="bodyTabs"></br></br>
                                <%- include ('partials/formularioDG.ejs') %>
                                    <%- include ('partials/botones.ejs') %>
                                        <%- include ('partials/footer.ejs') %>
                            </div>
                        </div>

                        <div class="tabs" id="IGMaestria" onclick="cambiarPestaña(2)" >
                            <h3>Informacion General</h3>
                            <div class="bodyTabs"></br>
                                <div class="subFormInt" id="formMaes">
                                    <input id="tx" type="text" placeholder="Maestria" name="maestria" />
                                    <label class="labels">Maestria</label>
                                </div><br />
                                <fieldset class="cajaFormInt">
                                    <legend><b>Institución</b></legend><br />
                                    <div class="subForm">
                                        <div class="subFormInt"  id = "grupo__institucionSuperior">
                                            <input class="tex" type="text" placeholder="Nombre de la institución"
                                                name="institucionSuperior" id ="institucionSuperior" />
                                            <label class="labels">Institución de estudios superiores</label>
                                        </div>
                                        <div class="subFormInt" id = "grupo__paisInst">
                                            <input class="tex" type="text" placeholder="País de la Institución"
                                                name="paisInst"  id ="paisInst"/>
                                            <label class="labels">País de la Institución</label>
                                        </div>
                                        <div class="subFormInt" id = "grupo__titulo">
                                            <input class="tex" type="text" placeholder="Titulo" name="titulo" id ="titulo" />
                                            <label class="labels">Título</label>
                                        </div>
                                        <div class="subFormInt" id = "grupo__carrera">
                                            <input class="tex" type="text" placeholder="Carrera" name="carrera" id ="carrera" />
                                            <label class="labels">Carrera</label>
                                        </div>
                                    </div></br>
                                </fieldset><br />

                                <fieldset class="cajaFormInt">
                                    <legend><b>Experiencia</b></legend><br />
                                    <div class="subForm">
                                        <label class="labelsC">Experiencia profesional</label>
                                        <textarea class="texaC" placeholder="Escriba aqui su experiencia profesional"
                                            name="expProfesional"></textarea>
                                    </div><br />
                                    <div class="subForm">
                                        <label class="labelsC">Experiencia Docente</label>
                                        <textarea class="texaC" placeholder="Escriba aqui su experiencia docente"
                                            name="expDocente"></textarea>
                                    </div><br />
                                </fieldset><br />

                                <fieldset class="cajaFormInt"></br>
                                    <div class="subForm">
                                        <label class="labelsN">¿Has asistido a los cursos propedéuticos de este
                                            Departamento
                                            anteriormente?</label>
                                        <label>
                                            <input class="opc" type="checkbox" id="check1" name="checkSi"
                                                onclick="deshabilitar()">SI</label><label><input class="opc"
                                                type="checkbox" id="check2" name="checkNo"
                                                onclick="deshabilitar()">NO</label>
                                        <div class="subFormInt" id = "grupo__">
                                            <input class="texn" type="tex" placeholder="Año" name="anho" />
                                            <label class="labels_">Año</label>
                                        </div>
                                        <div class="subFormInt">
                                            <input class="tex" type="text"
                                                placeholder="¿A qué línea de investigación desea integrarse?"
                                                name="lineaInves" />
                                            <label class="labels">Línea de investigación</label>
                                        </div>
                                    </div><br />

                                    <div class="subForm">
                                        <label class="labelsN">Motivación para integrarse al posgrado</label>
                                        <textarea class="texa" placeholder="Escriba aquí sus motivaciones"
                                            name="motivacionPosg"></textarea>
                                    </div><br />
                                    <div class="subForm">
                                        <div class="subFormInt">
                                            <input type="file" placeholder="" name="fileCV" id="fileCVid"/>
                                            <label class="labels">Anexa CV con fotografía</label>
                                            <label class="labels">Tam. máx. 1MB, ext ".pdf"</label>
                                        </div>



                                        <div class="subFormInt">
                                            <input id="fechaSolicitud" name="fechaSolicitud" class="tex" value="<%= f.getDate() + "-" + (f.getMonth() + 1) + "-" + f.getFullYear() %>" readonly />
                                            <label class="labels">Fecha solicitud</label>
                                        </div>


                                        <div class="subFormInt">
                                            <input class="tex" id="firmaSolicitante" type="" placeholder="" name="firmaSolicitante" />
                                            <label class="labels">Firma Solicitante</label>
                                        </div>

                                        <div class="subFormInt" name="AlistarCampoM">
                                            <input type="checkbox" name="AlistarM" id = "AlistarM"/>
                                            <label class="labels">Listo</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <%- include ('partials/botones.ejs') %>
                                    <%- include ('partials/footer.ejs') %>
                            </div>
                        </div>


                        <div class="tabs" id="IGDoctorado" onclick="cambiarPestaña(3)">
                            <h3>Informacion General</h3>
                            <div class="bodyTabs"></br>
                                <div class="subFormInt" id="formMaes">
                                    <input id="tx" type="text" placeholder="Doctorado" name="doctorado" />
                                    <label class="labels">Doctorado</label>
                                </div><br />
                                <fieldset class="cajaFormInt">
                                    <legend><b>Institución</b></legend><br />
                                    <div class="subForm">
                                        <div class="subFormInt" id = "grupo__institucionMaestria">
                                            <input class="tex" type="text" placeholder="Nombre de la institución"
                                                name="institucionMaestria" id ="institucionMaestria"/>
                                            <label class="labels">Institución de Maestría</label>
                                        </div>
                                        <div class="subFormInt" id = "grupo__paisInstD">
                                            <input class="tex" type="text" placeholder="País de la Institución"
                                                name="paisInst" id ="paisInst"/>
                                            <label class="labels">País de la Institución</label>
                                        </div>
                                        <div class="subFormInt" id = "grupo__graduado">
                                            <input class="tex" type="text" placeholder="Graduado" name="graduado" id ="graduado"/>
                                            <label class="labels">Graduado</label>
                                        </div>
                                        <div class="subFormInt" id = "grupo__posgrado">
                                            <input class="tex" type="text" placeholder="Posgrado" name="posgrado" id ="posgrado"/>
                                            <label class="labels">Posgrado</label>
                                        </div>
                                    </div></br>
                                </fieldset><br />

                                <fieldset class="cajaFormInt">
                                    <legend><b>Experiencia</b></legend><br />
                                    <div class="subForm">
                                        <label class="labelsC">Experiencia profesional</label>
                                        <textarea class="texaC" placeholder="Escriba aqui su experiencia profesional"
                                            name="expProfesional"></textarea>
                                    </div><br />
                                    <div class="subForm">
                                        <label class="labelsC">Experiencia Docente</label>
                                        <textarea class="texaC" placeholder="Escriba aqui su experiencia docente"
                                            name="expDocente"></textarea>
                                    </div><br />
                                </fieldset><br />

                                <fieldset class="cajaFormInt"></br>
                                    <div class="subForm">
                                        <label class="labelsN">¿Has asistido a los cursos propedéuticos de este Departamento
                                        anteriormente?</label>
                                        <input class="opc" type="checkbox" id="check1" name="checkSi"
                                            onclick="deshabilitar()">SI</label><label><input class="opc" type="checkbox"
                                                id="check2" name="checkNo" onclick="deshabilitar()">NO</label>
                                        <div class="subFormInt" id="año">
                                            <input class="texn" type="tex" placeholder="Año" name="anho" />
                                            <label class="labels_">Año</label>
                                        </div>
                                        <div class="subFormInt">
                                            <input class="tex" type="text"
                                                placeholder="¿A qué línea de investigación desea integrarse?"
                                                name="lineaInves" />
                                            <label class="labels">Línea de investigación</label>
                                        </div>
                                    </div><br />

                                    <div class="subForm">
                                        <label class="labelsN">Motivación para integrarse al posgrado</label>
                                        <textarea class="texa" placeholder="Escriba aquí sus motivaciones"
                                            name="motivacionPosg"></textarea>
                                    </div><br />
                                    <div class="subForm">
                                        <div class="subFormInt">
                                            <input type="file" placeholder="" name="fileCV" id="fileCVid" />
                                            <label class="labels">Anexa CV con fotografía</label>
                                            <label class="labels">Tam. máx. 1MB, ext ".pdf"</label>
                                        </div>
                                        <div class="subFormInt">
                                            <label class="labelsN">Investigaciones</label>
                                        <textarea class="texa" placeholder="Escriba aquí brevemente sobre sus investigaciones en las que ha participado"
                                            name="investigaciones"></textarea>
                                        </div>

                                       <div class="subFormInt">
                                            <input id="fechaSolicitud" name="fechaSolicitud" class="tex" value="<%= f.getDate() + "-" + (f.getMonth() + 1) + "-" + f.getFullYear() %>" readonly />
                                            <label class="labels">Fecha solicitud</label>
                                        </div>

                                        <div class="subFormInt" name="firmaSolicitante">
                                            <input class="tex" id="firmaSolicitante" type="" placeholder="" name="firmaSolicitante" />
                                            <label class="labels">Firma Solicitante</label>
                                        </div>
                                        <div class="subFormInt" name="AlistarCampoD">
                                            <input type="checkbox" name="AlistarD" id = "AlistarD"/>
                                            <label class="labels">Listo</label>
                                        </div>

                                    </div>
                                </fieldset>
                                <%- include ('partials/botones.ejs') %>
                                    <%- include ('partials/footer.ejs') %>
                            </div>
                        </div>

                    </div>
                </form>

                <script type="text/javascript" src="../js/funcionesPestañas.js"></script>
                <script type="text/javascript" src="../js/Validaciones.js"></script>
    </body>

</html>